:root {
    --grey: rgb(49, 47, 47);
    --white: antiquewhite;
    --blue: rgb(3, 19, 61);
    --lightBlue : rgb(134, 226, 226);
    --black: black;
}

*, html {
    font-family: 'Bahianita', cursive;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--grey);
}

#appTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    color: var(--white);
    font-size: 72px;
    background-color: var(--blue);
}

#main-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

#aside-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 90%;
    background-color: var(--blue);
}

#aside-container > div {
    height: 50px;
    margin: 5px auto;
}

.colorPaletteContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--white);
}

.colorPaletteContainer > [type="color"] {
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    background-color: var(--white);
}

.colorPaletteContainer > label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: var(--black);
    background-color: var(--white);
    font-size: 26px;
    border-radius: 5px;
}

#controlButtons {
    display: flex;
    flex-direction: column;
    justify-items: space-evenly;
    align-items: center;
}

.button {
    height: 50px;
    width: 300px;
    margin: 5px auto;
    color: var(--black);
    font-size: 26px;
    border-radius: 5px;
    background-color: var(--white);
}

.button:hover {
    background-color: var(--lightBlue);
}

.button:active {
    transform: translateY(4px);
}

#aside-container > #sliderContainer {
    display: flex;
    flex-direction: column;
    height: 80px;
    border-radius: 5px;
    margin-top: 30px;
    background-color: var(--white);
}

#sliderContainer > #slider {
    width: 300px;
    height: 50px;
}

#sliderContainer > #sliderText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 10px;
    border-radius: 5px;
    color: var(--black);
    background-color: var(--white);
    font-size: 26px;
}


#sketchFrame {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sketch-container {
    display: flex;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
    background-color: antiquewhite;
}


.footer {
    height: 10%;
    background-color: var(--blue);
}