:root {
    --grey: rgb(49, 47, 47);
}

*, html {
    font-family: 'Bahianita', cursive;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--grey);
}


#aside-container {
    background-color: red;
    height: 100%;
    width: 20%;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
}

#sketch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 480px;
    background-color: antiquewhite;
}